@import "../../styles/colours";
@import "../../styles/variables";

.filled {
  font-size: $medium_font-size;
  color: $color-primary;
}
.outline {
  font-size: $medium_font-size;
  color: $color_white;
}
